<p><%= @post.content %></p>
<h3><p>Posted on: <%= @post.created_at.in_time_zone('Asia/Kolkata').strftime('%B %d, %Y %I:%M %p %Z') %></p></h3>
<% if @post.user == current_user %>
      <%= form_for(@post, :html => { :method => :delete, :remote => true, data: { confirm: "Are you sure?"} }) do |f| %>
          <%= f.submit :value => "Delete post" %>
    <% end %>
<% end %>
<button><%= link_to 'Edit', edit_post_path(@post) %></button>

<%= link_to 'Back', posts_path %>
<%= form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  <div class="actions">
    <%= form.submit 'Add Comment' %>
  </div>
<% end %>
<% @post.comments.each do |comment| %>
  <li><strong><%= comment.user.email %></strong>:</strong> <%= comment.content %></li><br>
<% end %>

<% if @user.present? %>
  <h2>Followers:</h2>
  <% if @user.followers.any? %>
    <ul>
      <% @user.followers.each do |follower| %>
        <li><%= follower.username %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No followers yet.</p>
  <% end %>
<% end %>


<%# <%= link_to 'Like', like_post_path(@post), method: :post %> 
<%# <%= link_to 'Dislike', dislike_post_path(@post), method: :post %> 

